<section id="footer-bottom">
  <div class="footer-bottom-wrap">
    <div class="row footer-inner-one ">
      <div class="do-features">
            <div class="medium-2 two columns features-list features-qd">
              <h5>QUICK DELIVERY</h5>
            </div>
            <div class="medium-2 two columns features-list features-cod">
              <h5>CASH ON DELIVERY</h5>
            </div>
            <div class="medium-2  two columns features-list features-er">
              <h5>EASY RETURNS</h5>
            </div>
            <div class="medium-2  two columns features-list-one features-qa">
              <h5>QUALITY ASSURED</h5>
            </div>
      </div>
    </div>
    <div class="row-border"></div>
    <div class="row footer-inner-three">
      <h3 class="ft-blue-4 ">
        <a href="http://www.dilseprints.com/about-us/">About DilSePrints</a>
      </h3>
      <p>DilSePrints works with avant-garde designers from around the world, to bring discerning Indian consumers<br> the most original cellphone cases. We use advanced printing technologies to ensure that your cases look fantastic for a long time. We back up our products with great service and industry leading warranties.
        <a class="know-more-about" href="http://www.dilseprints.com/about-us/">Know more</a>
      </p>
      <br>
      <br>
      <ul class="inline-list large-offset-3 medium-offset-2">
        <li>
          <a href="http://www.dilseprints.com/about-us/">About Us</a>
        </li>
        <li>
          <a href="http://www.dilseprints.com/payment-shipping-returns/">Payment, Shipping &amp; Returns </a>
        </li>
        <li>
          <a href="http://www.dilseprints.com/terms-of-use/">Terms of use</a>
        </li>
        <li>
          <a href="http://www.dilseprints.com/privacy-and-security-policy/">Privacy &amp; Security Policy</a>
        </li>
        <li>
          <a href="http://www.dilseprints.com/career/">Career</a>
        </li>
        <li>
          <a href="http://www.dilseprints.com/corporate/">Corporate</a>
        </li>
        <li>
          <a href="http://blog.dilseprints.com">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</section>