<div class='about_us'>

  <div class="about_us_title">About DilSeObject</div>

  <p class="about_us_text">
    It was during the winters of 2013, after understanding the importance of parental investment in the long term education of the children, we started our operations with Aarohan Community Learning Center. At Aarohan we have clubbed after school education of government school children with livelihood skills training of mothers and women from the under privileged communities by seeing both from a single frame. Prior experience of teaching in a Teach for India classroom did come in handy in understanding the dynamics of education at affordable private schools and government schools.



    The 6 month long program for mothers provides skills such as tailoring and embroidery thus enabling them to earn an independent living  and sustain financially. The after school learning center focuses on improving the basic literacy and Math of government school children besides providing them exposure to world of other opportunities for their self development. Support from friends, community champion, BITSian fraternity and more importantly our mentor Darshan Bhat was continuously pouring in.



    Funding has always been a back of the mind thought, though it was not a problem considering our alumni and friends network. The objective was always to build a self sustaining enterprise which requires no funding through individual donors. The inherent solution was to connect the trained mothers with fashion houses that give them work and thus create revenues. Interestingly this has been working partially as we have brought in another aspect of business that has a potential to provide them with good income. As you can see every initiative of ours has been born out of the "need". Be it education or skill training it was an expressed need and we saw an opportunity there.



    By now, we have learnt that, Everything, if takes shape out of need, is borne to succeed.



    Aarohan Learning Centers currently cater to 42 children and have trained already trained 50+ women. We now see this huge number of skilled resource persons waiting to unleash their potential. We see a need and we now see an opportunity adjoining it. Contemplating on our approach we intended to initiate a design specific startup that caters to the humungous market, out available there, by catering them with fashion accessories to start with. This creates an appearance for Dilse Prints. We believe we are providing everyone a "choice" not "charity" A choice to provide services and earn a respectable living.



    DilsePrints is committed not only in providing quality fashion accessories but also support the learning of women and children in their education. You may refer to it by any name, but this is, our business model, our USP and our way of approach. DilsePrints is a "for public" enterprise. Its an effort to challenge the way how not for profits look at our markets and how market/public looks at not for profits.
  </p>

</div>