<div style="height: 60px">&nbsp;</div>
<div class="row">
  <div class="col-xs-offset-4 col-xs-56 col-sm-offset-5 col-sm-54 text-center justText660 text-center faq-class">
    <p class="heading-3" style="margin-top: 20px">Order</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-offset-4 col-xs-56 col-sm-offset-5 col-sm-54 faq-class">
    <p class="text-1 static-pages-text-block" style="margin-bottom: 10px">How to place order?
    </p>
  </div>
  <div class="col-xs-offset-4 col-xs-56 col-sm-offset-5 col-sm-54 faq-class">
    <p class="text-2 static-pages-text-block" style="margin-bottom: 20px">
      If you are reading this line, take our word, you are technically equipped to place an order with Dilse Prints. Yeah. Its that simple. With a 3 step process (Select, Add to cart, Pay) we are always trying to ensure a smooth hassle free experience. But sometimes, the internet acts weird, so just incase there is any query, we are more than happy to answer. We are just a call away.
    </p>
  </div>
</div>


<div class="row">
  <div class="col-xs-offset-4 col-xs-56 col-sm-offset-5 col-sm-54 text-center justText660 text-center faq-class">
    <p class="heading-3" style="margin-top: 20px">Shipping and Handling</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-offset-4 col-xs-56 col-sm-offset-5 col-sm-54 faq-class">
    <p class="text-1 static-pages-text-block" style="margin-bottom: 10px">What is our shipping policy?
    </p>
  </div>
  <div class="col-xs-offset-4 col-xs-56 col-sm-offset-5 col-sm-54 faq-class">
    <p class="text-2 static-pages-text-block" style="margin-bottom: 20px">
      Within India: Seriosuly, we still don’t get why do we call it shipping though being delivered in India. Anyways, the word "delivery" seems so mundane and we are getting along with "Shipping"
      <br>Rest assured, All the products are dispatched within 24 hours after you order them.
      We deliver pan-India in 4-5 business days depending upon customer's location.
      <br><br>The following are our delivery times to all parts of India:
      <br>Tier 1 Cities like Hyderabad, Delhi, Mumbai, Bangalore etc: 3-5 days.
      <br>Tier 2 Cities like Aurangabad, Bhopal, Patna etc: 6-8 days.
      <br>Tier 3 Cities like Vellore, Manipal etc: 7-10 days.
      <br>Cities in East India: 10-12 days.
      <br>Public Holidays and Saturdays/Sundays are excluded from business days. We love to work on Sundays as well but sadly courier companies seem to not like that.
      <br>Please note that the delivery timing depends on a number of factors like: weather, unforeseen events, traffic conditions and other special events. Though quanum mechanics doesn’t allow us to predict the future of events, we still endeavour to complete the delivery as early as possible. Believe us, more than you, its we who would want to see our product with you.
    </p>
  </div>

  <div class="col-xs-offset-4 col-xs-56 col-sm-offset-5 col-sm-54 faq-class">
    <p class="text-1 static-pages-text-block" style="margin-bottom: 10px">What are delivery charges?
    </p>
  </div>
  <div class="col-xs-offset-4 col-xs-56 col-sm-offset-5 col-sm-54 faq-class">
    <p class="text-2 static-pages-text-block" style="margin-bottom: 20px">
      All our orders amounting to more than INR 350 qualify for free delivery. Anything less we charge a nominal Rs 89 extra for shipping. See we do want you to keep shopping cause you're gonna love it. Don’t worry that’s not all we also have cash on delivery.
      <br>Cash on Delivery charges will not be applicable for orders above Rs 1000/-, otherwise an additional Rs 39 will be charged for Cash on Delivery orders.
    </p>
  </div>

  <div class="col-xs-offset-4 col-xs-56 col-sm-offset-5 col-sm-54 faq-class">
    <p class="text-1 static-pages-text-block" style="margin-bottom: 10px">Do you accept international orders?
    </p>
  </div>
  <div class="col-xs-offset-4 col-xs-56 col-sm-offset-5 col-sm-54 faq-class">
    <p class="text-2 static-pages-text-block" style="margin-bottom: 20px">
      1. Now we proudly annouce the legitimate use of term "Shipping". Since we believe people are alike and everyone around the world will love our products like you do, we also accept International orders. You can place the order with the help of any Indian Bank Card or through PayPal payment gateway.
      <br>
      2. Shipping charges will be clearly mentioned on the checkout page of the website before making the payment after you enter your shipping address.
      <br>
      <br>3. For any other queries, please write to us at care@dilseprints.com You know what, just call us up for any query. As you know, we are available during business hours.
    </p>
  </div>

  <div class="col-xs-offset-4 col-xs-56 col-sm-offset-5 col-sm-54 faq-class">
    <p class="text-1 static-pages-text-block" style="margin-bottom: 10px">How will I receive my Order?
    </p>
  </div>
  <div class="col-xs-offset-4 col-xs-56 col-sm-offset-5 col-sm-54 faq-class">
    <p class="text-2 static-pages-text-block" style="margin-bottom: 20px">
      We will ship your product on your mentioned shipping address. We have tie ups with reputed courier companies, so your orders will be delivered at your doorstep. All orders will be delivered in fully sealed packages to protect your goods and ensure that they reach you in perfect condition. Once it reaches you, we are pretty sure that the product would be safely preserved.
    </p>
  </div>

  <div class="col-xs-offset-4 col-xs-56 col-sm-offset-5 col-sm-54 faq-class">
    <p class="text-1 static-pages-text-block" style="margin-bottom: 10px">What is refund and replacement policy?
    </p>
  </div>
  <div class="col-xs-offset-4 col-xs-56 col-sm-offset-5 col-sm-54 faq-class">
    <p class="text-2 static-pages-text-block" style="margin-bottom: 20px">
      We know you love our products and wouldn't like to return them but just incase there is a situation, we do not let our beloved customers down. Thence we devised a policy for replacements.
      <br>To start with all replacements and refunds are considered only within 7 days after the date of delivery. Anything after that doesn’t let us consider.
      <br><br>
      Simple and straight. Right? Just another pinch! After serious close door discussion with our entire team (number can be embarrassing) we felt there might be few other reasons that would let our customers down.
      <br><br>
      Reason 1: You have opened the parcel and alas, this is not the item you have ordered! Wait up. Send us across a picture. We will send in the actual product or process your refund. Of course you can keep the other product. Yup, we are sweet :)
      <br><br>
      Reason 2: Now. You have opened the parcel and the item has been damaged during the transit. Send us across a picture. We will send another product or process your refund.
      <br><br>
      Reason 3: This is truly painful. Imagine you have ordered tonnes of products thus proven your love. One of the item goes missing. Chill. The missing item would be on your way once you have written to us detailing about it. We can as usual also process a refund.
      <br><br>
      Reason 4: You have liked a product, ordered it. Everything is fine until you see that there is a glaring difference between the product you have ordered and what is delivered. Yehaa. It’s a shocker. Click it up and send us across. Either you get a new actual product or a refund.
      <br><br>
      Reason 5: We love you guys and this lets us give "YOU" the opportunity to define why do you not like our product. We know its hard to do that but still we believe we can do much more better and stretch our innate talent :P
    </p>
  </div>

</div>

