<div class="row" style="margin-top: 30px">
  <div class="col-xs-offset-4 col-xs-56 col-sm-offset-5 col-sm-54 policy-pos text-center">
    <span class="heading-3">Privacy Policy</span>
    <p class="text-2 static-pages-text-block">"I grew up with the understanding that the world I lived in was one where people enjoyed a sort of freedom to communicate with each other in privacy, without it being monitored, without it being measured or analyzed or sort of judged by these shadowy figures or systems, any time they mention anything that travels across public lines"



      Edward Snowden



      You sure are, at a place that Edward Snowden has imagined. We at Dilse Prints value your privacy as you yourself would do. Simply put, we would never snoop on you as we ain't any geeky hackers. Going further, we do not use or disclose information about your individual visits to our website or any information that you may give us, such as your name, address, email address or telephone number, to any outside sources.



      Incase you wish to see the entire Privacy Policy we adhere to which is generally employed by every other ITES company, you may find it here. And believe me, its not as beautiful as we have put it :)</p>
  </div>
</div>

<div class="row" style="margin-top: 30px">
  <div class="col-xs-offset-4 col-xs-56 col-sm-offset-5 col-sm-54 policy-pos text-center">
    <span class="heading-3">Security Policy</span>
    <p class="text-2 static-pages-text-block">When promising privacy, we ought to promise Security as well. Shopping at Dilse Prints in 100% secure. Though we ourselves are not network geeks, we are supported by one of the best online indian merchant account providers.



      Dilse Prints does not collect or store your account information at all. Your transaction is authorized at multiple points by EBS without any information passing through us.



      So, you can be assured that DilsePrints offers you the highest standards of security currently available on the net so as to ensure that your shopping experience is private, safe and secure. Yeah, we know, by doing this we are providing you the best bet on your time. So please continue shopping.</p>
  </div>
</div>